---
import AuthLayout from "../../layouts/AuthLayout.astro";
import { AuthCard } from "../../components/auth/AuthCard";
import { buttonVariants } from "@/components/ui/button";
---

<AuthLayout title="Registration Confirmed">
  <AuthCard
    title="Registration Confirmed!"
    description="Your email has been verified successfully. You can now sign in to your account."
    type="success"
  >
    <div class="flex flex-col items-center gap-6">
      <a href="/auth/sign-in" class={buttonVariants({ size: "lg" })}>Sign in</a>
    </div>
  </AuthCard>
</AuthLayout>
