---
import { AddFlashcard } from "@/components/AddFlashcard";
import { CircleUserRound, LogOut } from "lucide-react";
import { MobileMenuToggle } from "@/components/MobileMenuToggle";
const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/auth/sign-in");
}
---

<div class="sticky top-0 left-0 w-full z-20 py-4 md:py-8 flex items-center justify-between xl:justify-end mb-4 md:mb-0">
  <div
    class="flex items-center gap-6 justify-between bg-transparent bg-gradient-to-b from-white/60 to-white/20 hover:bg-white backdrop-blur-xl w-full xl:w-fit rounded-4xl border border-black/5 shadow-[0_10px_10px_rgba(0,0,0,0.025)] transition-colors duration-500"
  >
    <a href="/dashboard/" class="text-3xl font-bold ps-6 block xl:hidden">
      10<span class="bg-gradient-to-br from-indigo-600 to-teal-500 inline-block text-transparent bg-clip-text">X</span>C
    </a>
    <div class="flex items-center gap-4 px-3 py-2.5">
      <AddFlashcard client:load />
      <span class="text-sm text-muted-foreground hidden xl:flex items-center gap-2 ms-4">
        <CircleUserRound />
        <span class="text-sm max-w-[200px] truncate">{user.email}</span>
      </span>
      <form action="/api/auth/logout" method="POST" class="hidden xl:block">
        <button
          type="submit"
          class="flex items-center gap-2 rounded-4xl px-4 leading-7 py-1 text-sm font-medium text-muted-foreground bg-black/5 hover:bg-black hover:text-white transition-colors duration-300 cursor-pointer"
        >
          <LogOut className="w-4 h-4" />
          Logout
        </button>
      </form>
      <MobileMenuToggle client:load />
    </div>
  </div>
</div>
