<div class="absolute inset-0 z-0">
  <div class="absolute inset-0 z-0">
    <div
      class="absolute top-0 z-[-2] h-full w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(170,170,170,.3),rgba(170,170,170,.15))]"
    >
    </div>
  </div>
  <div class="absolute inset-0 z-1">
    <div
      class="relative h-full w-full bg-red [&>div]:absolute [&>div]:h-full [&>div]:w-full [&>div]:bg-[radial-gradient(#dbdde1_1px,transparent_1px)] [&>div]:[background-size:16px_16px] [&>div]:[mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
    >
      <div></div>
    </div>
  </div>
  </div>