---
import { buttonVariants } from "@/components/ui/button";
---

<nav class="fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto px-4 md:px-6 py-4 2xl:max-w-[1400px]">
    <div class="flex items-center justify-between">
      <a href="/" class="text-3xl font-bold">
        10<span class="bg-gradient-to-br from-indigo-500 to-teal-400 inline-block text-transparent bg-clip-text">X</span
        >C
      </a>
      <!-- Buttons -->
      <div class="flex justify-center gap-3">
        <a href="/auth/sign-up" class={buttonVariants({ size: "sm", variant: "outline" })}>Sign up</a>
        <a href="/auth/sign-in" class={buttonVariants({ size: "sm" })}>Sign in</a>
      </div>
    </div>
  </div>
</nav>
